div {
  width: 200px;
  height: 200px;
  border: 1px solid hotpink;
  margin-top: 10px;
}
#blue {
  background-color: blue;
}
#red {
  background-color: red;
}
#green {
  background-color: green;
}
#yellow {
  background-color: yellow;
}
